[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "GLEW"]
	path = GLEW
	url = https://github.com/nigels-com/glew
[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew
