[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	ignore = dirty
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
	ignore = dirty
[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew
	ignore = dirty